<%- include("header") -%>
<div class="about-us">
    <div>
        <h1>OUR VISION</h1>
        <p>Work as a catalyst in bringing hospitality to lives of underprivileged people, with a life-cycle approach of
            development.
            Enable the civil society across the world to engage proactively in the change process through the philosophy
            of civic driven change.
            Adopt highest standards of governance to emerge as a leading knowledge and technology driven, innovative and
            scalable international development organisation.
        </p>
    </div>
    <div>
        <h1>OUR MISSION</h1>
        <p>GSP,is to help underprivileged people for the best possible help in our society.
            We GSPians are trying to deploy best possible methodology and technology for achieving , to practice and
            promote good hospitality to those in need, who are not privileged enough.
        </p>
    </div>
    <div>
        <h1>OUR APPROACH</h1>
        <p>GSP believes that there are so many people who are living below poverty, whom we don't we know theexact
            count. We believe that everyone has a right to live a better life. Should be able to survive the day without
            any difficulty. an individual to earn his/her livelihood and the end because it increases one's awareness on
            a range of issues - from healthcare to appropriate social behaviour to understanding one's rights - and in
            the process help him/her evolve as a better citizen.
        </p>
    </div>
    <div>
        <h1>OUR BELIEF</h1>
        <p>GSP believes that unless people of our society are not involved in our cause, we alone cannot bring a change.
            Without people joining a sustainable change will not happen. We believe in "People Driven Change", we urge
            people in order to make them partners in this mission.
        </p>
    </div>
</div>
<%- include("footer") -%>