<%- include("header") -%>
<h1>Contact Us if you have any query!</h1>
<div class="grid-container">
    <div class="grid-item">
        <h1>Shivang Garg</h1>
        <p>All General Queries</p>
        <p>📧: shivang.garg@yahoo.com</p>
    </div>
    <div class="grid-item">
        <h1>Rajat Bisht</h1>
        <p>Donation Related Queries</p>
        <p>📧: rajatbisht6@gmail.com</p>
    </div>
    <div class="grid-item">
        <h1>Harsh Agarwal</h1>
        <p>Volunteer Related Queries</p>
        <p>📧: harshagarwal6566@gmail.com</p>
    </div>
    <div class="grid-item">
        <h1>Tanish Saxena</h1>
        <p>Promotion Related Questions</p>
        <p>📧: saxena.tanish16@gmail.com</p>
    </div>
</div>
<%- include("footer") -%>