<%- include("header") -%>
<div class="front">
    <h1>Thank You for donating!</h1>
    <h2>Your unique ID is <strong><%= uniqueIDvalue %></strong></h2>
    <h3>Please do remember your unique ID.</h3>
</div>
<div class="image-container">
    <img src="gsp.png" alt="GSP Logo">
</div>
<%- include("footer") -%>