<%- include("header") -%>
<div class="alreadyexist">
    <p>Payment ID exist, make a new payment!</p>
    <form method="GET" action="/donationidexist">
        <button type="submit">Make New Payment</button>
    </form>
</div>
<%- include("footer") -%>