<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Gharahin Sewa Prayatna
    </title>
    <link rel="icon" href="gsp.ico">
    <link rel="stylesheet" href="css/homeless.css">
</head>

<body>
    <h1>GHARAHIN SEWA PRAYATNA</h1>
    <div class="topnav">
        <ul>
            <li>
                <form method="GET" action="/">
                    <button type="submit">Home</button>
                </form>
            </li>
            <li>
                <form method="GET" action="/aboutus">
                    <button type="submit">About US</button>
                </form>
            </li>
            <li>
                <form method="GET" action="/contactus">
                    <button type="submit">Contact US</button>
                </form>
            </li>
            <li style="padding-top: 12px;">
                <marquee id="mqtext">Come forward and be part of this amazing organization. Your little donation will help a lot to the ones who need help!.</marquee>
            </li>
            <li class="topnav-right">
                <form method="GET" action="/donation">
                    <button type="submit">Donate</button>
                </form>
            </li>
            <li class="topnav-right">
                <form method="GET" action="/volunteerreg">
                    <button type="submit">Volunteer Registration</button>
                </form>
            </li>
        </ul>
    </div>