<%- include("header") -%>
<div class="alreadyexist">
    <p>Sorry, that user already exist with the given mail!</p>
    <form method="GET" action="/volunteerreg">
        <button type="submit">Register Again!</button>
    </form>
</div>
<%- include("footer") -%>