<%- include("header") -%>
<div class="front">
    <h1>Thank You <strong><%= username %></strong> for registring!</h1>
</div>
<div class="image-container">
    <img src="gsp.png" alt="GSP Logo">
</div>
<%- include("footer") -%>